<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        {% load static %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="static/css/style.css">
        <!-- <link href="static/css/outline.css" rel="stylesheet">
        <link href="static/css/outline-settings.css" rel="stylesheet"> -->
        <title>BVS</title>
    </head>
    <body>
        <header>
            <h1 class="proj-name">Backend Vacancy Statistic</h1>
        </header>
        <div class="sidenav">
		    <a class="active" href="/">Главная</a>
		    <a href="/relevance">Востребованность</a>
		    <a href="/area">География</a>
            <a href="/skills">Навыки</a>
            <a href="/vacancies">Последние вакансии</a>
	    </div>
        <main>
            <div class="hero">
                <img class="hero-img" src="course_proj\course_proj\static/imgs/java1.jpg" alt="img" width="250" height="150">
                <h2 class="hero-h2">Backend-программист</h2>
                <img class="hero-img" src="course_proj\course_proj\static/imgs/java2.jpg" alt="img" width="250" height="150">
            </div>
            <p>
                Java-разработчик создаёт программное обеспечение, сайты и приложения, специализируется на бэкенде. То есть отслеживает логику продукта, чтобы все функции работали правильно. Например, когда пользователь «Кинопоиска» хочет добавить фильм в раздел «Избранное», подключается бэкенд — при нажатии на кнопку фильм из базы подтягивается в профиль. Программист Java следит, чтобы приложение быстро работало и взаимодействовало и с другими системами.
            </p>
            <p>Чем занимается Java-разработчик, зависит от грейда: <a href="#junior">junior</a>, <a href="#middle">middle</a> или <a href="#senior">senior</a>.</p>
            <p id="junior">У младшего специалиста, так как он только входит в специальность и его опыт ограничен, такие обязанности:</p>
            <ul>
                <li>Написать код.</li>
                <li>Исправить простые ошибки (баги).</li>
                <li>Тестировать работу кода.</li>
                <li>Составлять инструкцию для пользователей.</li>
                <li>Продолжать развивать навыки в Java-программировании.</li>
            </ul>
            <p id="middle">После 2—3 лет работы джуниор Java-разработчик продвигает свои скилы и перерастает в мидла. Вместе с грейдом меняются и его обязанности, список задач выглядит примерно так:</p>
            <ul>
                <li>Работать с более сложными кодом и багами.</li>
                <li>Проверять тестирование.</li>
                <li>Планировать проекты.</li>
                <li>Составлять инструкции для пользователей.</li>
                <li>Работать с покупателями.</li>
                <li>Наставничество над младшими специалистами.</li>
            </ul>
            <p id="senior">
                Когда разработчик накапливает 5+ лет опыта и уже разбирается в IT-системе бизнеса, его считают старшим специалистом или сеньор Java-разработчиком. Тогда круг задач становится таким:
            </p>
            <ul>
                <li>Планировать, консультировать и тщательно анализировать сложные продукты.</li>
                <li>Работать с покупателями.</li>
                <li>Администрировать финальную стадию продукта.</li>
            </ul>
            <p>Java-разработчику пригодится техническое образование, чтобы понять алгоритм работы приложений. Преимуществом станет и знание английского языка, ведь много туториалов не переведены на русский.</p>

            <p>Чтобы стать стажёром в компании, необходимы такие навыки:</p>
            <ul>
                <li>Разбираться в Java-core — понимать базовые конструкции языка, работать с функциями и переменными.</li>
                <li>Ориентироваться в библиотеках — знать, где искать шаблоны, для каких задач подходят определённые классы библиотек.</li>
                <li>Освоить фреймворки — каркасы, которые определяют структуру программы. Основной — Spring, это платформа с открытым исходным кодом, которая обеспечивает инфраструктурную поддержку для разработки приложений Java, позволяет создавать их быстрее и удобнее.</li>
                <li>Уметь работать с базами данных: знать особенности систем Oracle, MS SQL Server, MySQL, Postgres и взаимодействовать с ними посредством команд SQL.</li>
                <li>Разбираться в системе контроля версий Git. Она показывает историю изменений кода и незаменима при командной работе.</li>
            </ul>
            <img class="skill-img shadow" src="course_proj\course_proj\static/imgs/hardskills.png" alt="img" width="712" height="400">
            <p>Помимо «жёстких» навыков, Java-разработчику не обойтись и без soft skills:</p>
            <ul>
                <li>Работать в команде. Java-разработчик постоянно общается с коллегами, иногда и с заказчиками.</li>
                <li>Быть кропотливым и настойчивым. В разработке случаются моменты, когда код не получается. Тут важно сесть и понять, в чём проблема. Найти информацию, поспрашивать у коллег, погуглить.</li>
                <li>Спокойно относиться к обратной связи как от опытных коллег, так и от заказчиков. Редко когда код получается идеальным с первого раза, приходится дорабатывать.</li>
                <li>Декомпозировать задачи. Часто приходит задача, которую за один раз не сделать. Нужно уметь разделять её на несколько маленьких, понимать, с чего лучше начать.</li>
            </ul>
            <img class="skill-img shadow" src="course_proj\course_proj\static/imgs/softskills.png" alt="img" width="712" height="400">
            <p class="source">Текст и картинки взяты из <a href = "https://practicum.yandex.ru/blog/kto-takoy-java-razrabotchik/">статьи блога Яндекс Практикума</a></p>
        </main>
        <footer>
            <p>Студент 2-го курса ИРИТ-РТФ УрФУ</p>
            <p>ФИО: Горшков Эдуард Геннадьевич</p>
            <p>Группа: РИ-220933</p>
        </footer>
    </body>
</html>
